<section class="datahub-about-main-content">
    <h1>About DataHub</h1>
    <p>
        DataHub is an emerging capability that will provide secure, timely, and efficient access to
        laboratory, field, and benchmark model data produced during the course of Pacific Northwest
        National Laboratory (PNNL) research. Currently, data stored by PNNL researchers in
        instruments, computers, or laboratory notebooks are not easily shared or made accessible to
        others. The information is especially vulnerable to loss and in its current unshared state,
        can lead to duplication of field studies and related efforts, and may even delay scientific
        progress and discovery.
    </p>
    <p>
        DataHub is a web-based repository that addresses many of the data challenges that affect
        laboratory research, such as freeing sequestered data; providing a consistent vehicle for
        sharing, accessing, and preserving data; making data searchable; and curtailing the costs of
        long-term data preservation and maintenance.
    </p>
    <p>
        DataHub will provide varying levels of access to data. DataHub will host openly available or
        “public” data, data limited in distribution to only PNNL staff, and embargoed data or data
        limited to only project team members.
    </p>

    <h2>VALUE PROPOSITION</h2>
    <ul>
        <li>
            As the U.S. Department of Energy (DOE) and other sponsors increasingly require a viable
            Data Management Plan for every project, the DataHub repository will provide the required
            (and appropriate) documentation, preservation, and data-access mechanisms to meet the
            sponsors’ needs and make PNNL’s research more efficient, productive, and visible.
        </li>
        <li>
            Long-term data preservation is provided as an institutional capability instead of
            requiring individual projects to address this requirement with computing infrastructure
            and software development.
        </li>
        <li>
            As publishers require that the data associated with a publication be openly available,
            the DataHub repository will provide the ability to discover and download the data.
        </li>
        <li>
            By assigning a digital object identifier (DOI) to the data, researchers can reference
            the data in publications. DataHub can assign a DOI for data that are made public and
            openly available.
        </li>
    </ul>

    <h2>WHO WILL BENEFIT?</h2>
    <ul>
        <li>Instrument users who are generating and storing data in external hard drives</li>
        <li>Scientists who want to share data with external users</li>
        <li>Researchers who want to share large data with project members internally</li>
        <li>Researchers who want a long-term preservation plan for their data</li>
        <li>Projects that need to meet DOE’s requirements for a data management plan</li>
        <li>Projects that have ended and want to preserve the data generated during the lifetime of the project</li>
    </ul>

    <h2>FUTURE CAPABILITIES</h2>
    <ul>
        <li>Data publishing to <a href="http://data.gov">data.gov</a></li>
        <li>Metadata standards</li>
        <li>Data management plan</li>
        <li>Link to PNNL’s Git repository</li>
        <li>Usage metrics</li>
        <li>Data discovery</li>
        <li>API access</li>
    </ul>

    <h2>GETTING ACCESS</h2>
    <p>PNNL researchers can get started by sending an email to rc-support@pnnl.gov.</p>
</section>